

<h1>Requests</h1>
<table>
    
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Cat ID</th>
        </tr>
    
    <tr>
        <td><%= @request.start_date %> </td>
        <td><%= @request.end_date %> </td>
        <td><%= @request.cat_id %> </td>
    </tr>
    
</table>